/*Grapple Studio
  Patchwork Harmony
  styles.css*/

body {
	font-family: Helvetica;
	font-size: 16px;
	color: #6d0024;
	width: 50%;
	margin: 0 auto;
	background-color: #fce5cdff;
	padding: 10px;
	overflow: visible;
}

canvas {
	border: 2px solid black;
	margin: 0 auto;
	overflow: visible;
}

.center {
  display: block;
  margin-left: 230px;
  margin-bottom: 15px;
}

#myGame{
	margin: 0 auto;
	overflow: visible;
}

#devTitle {
	color: #603406;
	font-size: 2em;
	margin-bottom: 10px;
	margin-top: 1em;
	stroke: 10px;
	text-align: center;
}

#devDescription {
	color: #904f09;
	font-size: 1em;
	margin-bottom: 10px;
	margin-top: 1em;
	stroke: 10px;
	text-align: center;
}